<h1>{{title}}</h1>
<div>
    <form novalidate>
        <div>
            <label >Ville</label>
        <input type="text" name="ville" id="ville" ng-model="ville">
            <button ng-click="searchCity(ville)">Rechercher</button>
    </div>
        <div ng-if="cities">
            <label>Villes prises en charge</label>
            <ul>
                <li ng-repeat="city in cities" ng-click="saveCity(city)">
                    {{city.nom}}
                </li>
            </ul>
        </div>
        
        
    </form>
</div>